body {
    margin: 60px auto;
    width: 70%;
}

nav ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    padding: 0px;
    list-style: none;
    font-weight: 400;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    color: rgb(72, 122, 216);
}

nav ul li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: rgb(72, 122, 216);
}

h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
}

img {
    width: 48px;
    height: 48px;
    padding-left: 15px;
}

.blurb {
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    color: #333;
}

.blurb a:hover{
    text-decoration: underline;
}